<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 声明读取通知的权限 -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" /> <!-- 添加接收系统启动消息（用于开机启动）权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_kuaidi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_kuaidi_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiteNote"
        tools:targetApi="31">
        <activity
            android:name=".activity.LocalSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_local_settings"
            android:theme="@style/Theme.LiteNote" />

        <service
            android:name=".miui.service.DynamicIslandService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.UpdateActivity"
            android:exported="false"
            android:label="@string/title_activity_update"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".activity.RuleActivity"
            android:exported="false"
            android:label="@string/title_activity_rule"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".activity.LogActivity"
            android:exported="false"
            android:label="@string/title_activity_log"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".activity.ChannelActivity"
            android:exported="false"
            android:label="@string/title_activity_channel"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".activity.MainHomeActivity"
            android:exported="true"
            android:label="@string/title_activity_main_home"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".activity.ChecksActivity"
            android:exported="false"
            android:label="@string/title_activity_checks"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".activity.PrivacyAgreementActivity"
            android:exported="false"
            android:label="@string/title_activity_privacy_agreement"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".activity.UserAgreementActivity"
            android:exported="false"
            android:label="@string/title_activity_user_agreement"
            android:theme="@style/Theme.LiteNote" />

        <receiver
            android:name=".widget.NearExpressWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="miui.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/near_express_widget_info" />
        </receiver>

        <activity
            android:name=".activity.MyHomeActivity"
            android:exported="false"
            android:label="@string/title_activity_my_home"
            android:theme="@style/Theme.LiteNote" />

        <service
            android:name=".service.GuardNotificationListenerService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />

            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="um.65e6c82fa7208a5af1b5465c" />
            </intent-filter>

        </activity>
    </application>

</manifest>